<%= form_for @product do |f| %>
  Name: <%= f.text_field :name %>
  Description: <%= f.text_field :description %>
  Price: <%= f.number_field :price %>
<%= f.submit "Submit" %>
<% end %>
<br>
<div class="delete-box">
<% if admin && @product.name != nil %>
<p><%= link_to "DELETE THIS PRODUCT", product_path(@product), :data => {
  :confirm => "Are you sure?",
  :method => "delete"} %>
</p>
<% end %>
</div>
